v-stick {
  transform: rotate(90deg);
}

.sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 100;
  font-size: 20px;
}

.social-logo,
.curvy {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.298);
  transition: 1s all ease;
}

.social-logo:hover {
  transform: scale(1.2);
  transition: 500ms all ease;
}

.arrow {
  transform: scaleX(-1);
}

.home-height {
  min-height: 100vh;
}
