.dot-loader {
	z-index: 1;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: block;
	margin: 10px auto;
	position: relative;
	left: -100px;
	box-sizing: border-box;
	animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
	0% {
		box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
			0px 0 rgba(255, 255, 255, 0);
	}
	12% {
		box-shadow: 100px 0 var(--kt-primary), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
			0px 0 rgba(255, 255, 255, 0);
	}
	25% {
		box-shadow: 110px 0 var(--kt-primary), 100px 0 var(--kt-primary), 0px 0 rgba(255, 255, 255, 0),
			0px 0 rgba(255, 255, 255, 0);
	}
	36% {
		box-shadow: 120px 0 var(--kt-primary), 110px 0 var(--kt-primary), 100px 0 var(--kt-primary),
			0px 0 rgba(255, 255, 255, 0);
	}
	50% {
		box-shadow: 130px 0 var(--kt-primary), 120px 0 var(--kt-primary), 110px 0 var(--kt-primary),
			100px 0 var(--kt-primary);
	}
	62% {
		box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--kt-primary), 120px 0 var(--kt-primary),
			110px 0 var(--kt-primary);
	}
	75% {
		box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--kt-primary),
			120px 0 var(--kt-primary);
	}
	87% {
		box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
			130px 0 var(--kt-primary);
	}
	100% {
		box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
			200px 0 rgba(255, 255, 255, 0);
	}
}
