.dropdown-toggle::after {
  display: none !important;
}

.menu-wrapper {
  display: block;
  // width: fit-content;
  .item {
    cursor: pointer;
    &:hover {
      background-color: var(--kt-light-active);
    }
  }
}
